
  body {
    font-family: Palatino Linotype, sans-serif;
    background: #f0f4f8;
  }
  .charactersSection {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    background: #313131;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.9);
    width: 400px; 
    margin: 100px auto; 
  }
  .cardDelete {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    rotate: 45deg;
    color: #f0f4f8;

  }

  .image{
    width: 400px;
    max-height: 200px;
    border-radius: 15px 15px 0 0;
    }

  .name {
    font-size: 1.5em;
    font-weight: bold;
    margin: -4px 0 20px 0;
    color: white;
    padding: 15px 0 15px 35px;
    background-color: #5d747b;
  }

  .stats {
    margin: 10px 15px 7px 35px;
    text-align: left;
  }

  .stats p {
    margin: 5px 0;
    color: #f0f4f8;
  }

  .buttons {
    text-align: center;
  }
.dropdownEditor {
  text-align: center;
  padding: 2%;
}
  button {
    padding: 8px 12px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: #5d747b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  button:hover {
    background-color: #58605a;
  }    

.blurr {
    filter: blur(5px) brightness(.25);
    
}
.hidden {
  filter: brightness(0);
}
.unhidden {
  filter:  brightness();
}
.InitiativeFormButton {
  text-align: end;
  img {
    height: 45px;
    width: 45px;
  }
  z-index: 1;
}
.initiativeForm {
  z-index: 0;
  height: 300px;
  background: #313131;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
  margin: 0;
  padding: 0 1%;
}
.hide {
  display: none;
}
.newCharacterForm {
  display: flex; 
  flex-wrap: wrap;
}
.optionDiv {
  padding: 5px;
  label {
  color: white; 
  padding: 5px;
  }
  input {
    width: 100px;
  }
}